.clientlog-holder
  .clientlist
    standartdialog()
  .dialog
    max-height: 90%
    ul
      max-height: 90%
      list-style: none
      padding: 0 10px
      overflow-y: auto
    li
      display: block
      margin: 10px auto
      font-size: 1em      
      background-color: clouds
      padding: 15px
      span
        width: 80%
        text-align: left
      &.clientsp
        background-color: darken(clouds,10)
        text-align: left
      &.sellerspeech
        text-align: right
        
