.playerData
  border: none
  padding: 0 25px
  list-style: none
  font-size: 1.5em
  font-family: 'PTSans'
  li
  	border-bottom: 1px solid #3498db
  	margin-bottom: 4px    
  .playerstatvalue
  	text-align: center 
  .property
    font-weight: bold