.progress,.progress > span
  display: block
  background: #efefef
  width: 320px
  height: 30px
  margin: 15px

.progress span
  margin: 0
  background: peter_river
  width: 0%
  position: relative

.progress span:after
  content: ''
  position: absolute
  height: 7px
  width: 100%
  top: 50%
  background: rgba(255,255,255,.2)


