.top-menu
  font-size: 1.7em
  vertical-align: middle
  height: 45px
  padding: 10px 20px
  font-family: 'Conv_PressStart2P-Regular'
  background-color: peter_river
  width: 665px
  color: white
  margin-top: 10px
  line-height: 45px
  .pull-left
    span
      margin-right: 10px
      & > span
        margin-left: 10px
  .pull-right
    a
      margin-left: 20px
      position: relative
      top: 5px
.top-menu-icon
  display: inline-block
  background: url(../images/icons.png)
  background-position: 0 0
  width: 32px
  height: 32px
  &.icon-face-happy
    background-position: -64px 0
  &.icon-face-unhappy
    background-position: -32px 0
  &.icon-wallet
    background-position: 0 0
  &.icon-time
    background-position: 0 -(32px*3)
  &.icon-profile
    background-position: 0 -(32px*4)
  &.icon-gear
    background-position: 0 -(32px*5)
