extends /layouts/_layout_e

block content
  .pure-g-r
    .pure-u-1
      .map
        .second-plan(style='z-index: 2;width: 770px;')
  .pure-g-r
      .pure-u-1
        .map-sprite
          .ghost-plan(style='position: absolute; width: 770px; z-index: 2;')