//script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
//script(src="bower/tiny-emitter/dist/tinyemitter.min.js")
//script(src="js/main.js")
//script(src="javascripts/lib/bower/requirejs/require.js",data-main="javascripts/compiled/compiled")
script(src="javascripts/lib/bower/requirejs/require.js",data-main="javascripts/config-dev-editor")